<%- include("./header")  %> 
    <p>Welcome to IMDB</p>
    <hr>
    <h3>To Watch:</h3>
    <ul>
      <li><a href="/movies">All Movies</a></li>
      <li><a href="/movies/recommended">Recommended</a></li>
      <li><a href="/movies/news">News</a></li>
    </ul>
<%- include("./footer")  %>