<%- include("../header")  %>
<p>Recommended</p>
<hr>
<ul>
    <% for (movie of movies) {%>
    <li><a href="/movies/<%= movie.id %> "><%= movie.title %> </a></li>
    <% } %>
</ul>

<%- include("../footer")  %>